<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
	<%= stylesheet_link_tag 'default', :media => 'screen' %>
	<%= stylesheet_link_tag 'ie6Styles', :media => 'screen' %>	
	<%= stylesheet_link_tag 'ie7', :media => 'screen' %>
	<%= stylesheet_link_tag 'reset', :media => 'screen' %>
	<%= stylesheet_link_tag 'styleBlack', :media => 'screen' %>
	<%= stylesheet_link_tag 'styleBrown', :media => 'screen' %>
	<%= stylesheet_link_tag 'typography', :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
