<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml">  
<head> 
  <title><%= title %></title>
	<%= render 'layouts/header' %>
</head>
<body id="contactPage">
	<div id="wrapper">
		<div id="header">	
			<div id="logoWrapper">
				<div class="logo"><a href="index.html"><span>Social Prayer Network</span></a></div>
			</div>
			<%= render 'layouts/menu' %>
		
		
		
			
		
		<div id="leftCol">
			<% if flash[:notice] %>
				<div id="notice" class="infoMessage <% if flash[:error] %>error<% end %><% if flash[:notice] %>warning<% end %>"><%= flash[:notice] %></div><br /><br />
				<script type="text/javascript">
					setTimeout("new Effect.Fade('notice');", 15000)
				</script>
			<% end %>

			<%= yield %>	
		</div><!--[END]#leftCol-->


				
		<%= render 'layouts/right-column' %>



		<div class="clear"></div>
	</div><!--[END] #wrapper -->

<%= render 'layouts/footer' %>
